#about
{
    background-color:#1ABC9C ;
    height: 90vh;
}
h2
{
    font-size: 40px;
}
.lineBefore
{
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: #fff;
}
.lineAfter
{
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: #fff;
}
/*!<--- media query ---->*/
@media (max-width:576px)
{
    h2
    {
        font-size: 24px;
    }
    .lineBefore
{
    left: 35%;
    transform: translateX(-50%);
    width: 70px;
    height: 4px;
    background-color: #fff;
}
.lineAfter
{
    left: 65%;
    transform: translateX(-50%);
    width: 70px;
    height: 4px;
    background-color: #fff;
}
}
/*!<--- media query ---->*/