nav
{
    background-color:#2C3E50 ;
    transition: all 0.5s ease-in-out;
}
nav .expanded 
{
    height: 100px;
}
.active{
    background-color: #1ABC9C;
    padding: 10px 8px;
    border-radius: 5px;
}
.nav-link 
{
    margin: 0 10px;
}
