<section class="info" id="info">
    <div class="container text-white">
        <div class="row p-5">
            <div class="col-md-4">
                <div class="location text-center">
                    <h3 class="text-uppercase">location</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="web text-center">
                    <h3 class="text-uppercase">around the web</h3>
                    <div class="icon">
                        <i class="fa-brands fa-facebook cursor-pointer"></i>
                        <i class="ms-4 fa-brands fa-twitter cursor-pointer"></i>
                        <i class="ms-4 fa-brands fa-linkedin-in cursor-pointer"></i>
                        <i class="ms-4 fa-solid fa-globe cursor-pointer"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about text-center">
                    <h3 class="text-uppercase">about freelancer</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
</section>