<section class="home vh-100 mt-5 pt-5" id="home">
    <div class="container text-center text-white p-5">
        <img src="./assets/images/avataaars (1).svg"  alt="person avatar">
        <div class="content">
            <h2 class="text-uppercase fw-bolder fs-1 mt-4">start framework</h2>
            <div class="shape my-4 text-center d-flex justify-content-center align-items-center">
                <div class="lineBefore"></div>
                <i class="fa-solid fa-star"></i>
                <div class="lineAfter"></div>
            </div>
        </div>
        <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
</section>